*{
    margin: 0;
    padding: 0;
}

html body{
    height: 100%;
}

/* Cabeçalho */

header{
    width: auto;
    background-color: #212529;
}
#all-header{
    width: 1250px;
    margin: auto;
    color: #E9ECEF;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header-logo h1{
    font-family: "Montserrat", sans-serif;
}
nav{
    width: 300px;
}

#header-nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-itens{
    color:#E9ECEF;
    text-decoration: none;
    font-family: "Lato", sans-serif;
}

/* Cabeçalho */

/* Conteúdo */

main{
    background-color: #E9ECEF;
    font-family: "Lato", sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
}

#all-main{
    width: 1250px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#title-main{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

#main-text{
    width: 400px;
    color: #1A1A1A;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main-text p{
    text-indent: 2em; /*Da o espaço*/
}

#img-main{
    height: 400px;
    width: 400px;
    border-radius: 2px;
}

/* Conteúdo */

/*Rodapé*/

footer{
    background-color: #212529;
    padding: 20px;
}

#all-footer{
    
    width: 1250px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#footer-text{
    color: #E9ECEF;
    width: 600px;
    font-family: "Lato", sans-serif;
    font-size: 12px;
}

#footer-social{
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.footer-itens{
    color: #E9ECEF;
    text-decoration: none;
}


@media (min-width: 1366px) {
  footer {
    height: 150px;
  }
   #all-footer {
    margin: auto;
  }
}

@media (min-width: 1450px) {
  footer {
    height: 200px;
  }
   #all-footer {
    margin: auto;
  }
}

@media (min-width: 1500px) {
  footer {
    height: 300px;
  }
   #all-footer {
    margin: auto;
  }
}

@media (min-width: 1600px) {
  footer {
    height: 700px;
  }

  #all-footer {
    margin: auto;
  }
}
/*Rodapé*/